Table {
    width: 90%;
    text-align: center;
    border-spacing: 0px;
    border-radius: 12px;
    overflow: hidden;
    --table-background: #fff2d6;
    color: #343139;
}

Tr {
    background-color: var(--table-background);
}

.link {
    text-decoration: none;
}

.icon-image {
    width: 60px;
}
