Table {
    text-align: center;
    border-spacing: 0px;
    border-radius: 12px;
    overflow: hidden;
    --table-background: #fff2d6;
    color: #343139;
}

Tr {
    background-color: var(--table-background);
}

.link {
    text-decoration: none;
}

@media only screen and (max-width: 640px) {
    Table * {
        border: none !important;
    }

    Tr::after {
        display: block;
        content: '';
        width: 90%;
        margin: auto;
        margin-top: 8px;
        height: 0px;
        box-shadow: 0px 11px 9px 3px;
    }
}

@media only screen and (min-width: 640px) {
    Tr {
        height: 43px;
    }
}
